<div class="container">
  <div class="row">
    <div class="col-12">
      {% include 'breadcrumbs' %}
      <div class="title-box">
          <h1>{{ page.title }}</h1>
      </div>
    </div>
    <div class="col-12">
    </div>
  </div>
  <div class="row">
  {% for collection in linklists[page.title].links  %}
    {% if link.type == 'collection_link' %}
      {% assign collection = link.object %}
      <div class="col-lg-4 col-md-4 col-6">
        <img src="{{ collection.image }}"/>
      </div>
      {% endif %}
  {%  endfor %}
  </div>
</div>